In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\ayushi\anaconda3\lib\site-packages (4.1.0)
Requirement already satisfied: urllib3[secure]~=1.26 in c:\users\ayushi\anaconda3\lib\site-packages (from selenium) (1.26.4)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\ayushi\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: trio~=0.17 in c:\users\ayushi\anaconda3\lib\site-packages (from selenium) (0.19.0)
Requirement already satisfied: outcome in c:\users\ayushi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: sniffio in c:\users\ayushi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\ayushi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: idna in c:\users\ayushi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.10)
Requirement already satisfied: sortedcontainers in c:\users\ayushi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.3.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\ayushi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (20.3.0)
Requirement already satisfied: cffi>=1.14 in c:\users\ayushi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.5)
Requirement already satisfied: pycparser in c:\users\ayushi\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\ayushi\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.0.0)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\ayushi\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (3.4.7)
Requirement already satisfied: certifi in c:\users\ayushi\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (2020.12.5)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\ayushi\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (20.0.1)
Requirement already satisfied: six>=1.5.2 in c:\users\ayushi\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure]~=1.26->selenium) (1.15.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\ayushi\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.12.0)

In [6]:
import pandas as pd
import selenium
from selenium import webdriver
import time
from selenium.common.exceptions import NoSuchElementException
import warnings
warnings.filterwarnings('ignore')

In [164]:
driver=webdriver.Chrome(r'C:\Users\AYUSHI\Downloads\chromedriver.exe')

In [96]:
driver.get("https://www.cardekho.com/used-cars+in+mumbai")

In [97]:
brand_titles=[]
Variant=[]
Driven_km=[]
Fuel=[]
Location=[]
Price=[]
Transmission=[]

In [142]:
titles_tags=driver.find_elements_by_xpath('//div[@class="gsc_col-xs-7  carsName"]/a')
len(titles_tags)

3120

In [143]:
brand_titles=[]
for i in titles_tags:
    brand_titles.append(i.text)

In [144]:
var=driver.find_elements_by_xpath('//div[@class="gsc_col-xs-7  carsName"]/div[1]')
len(var)

3120

In [145]:
Variant=[]
for i in var:
    Variant.append(i.text)

In [146]:
km=driver.find_elements_by_xpath('//div[@class="truncate dotlist"]/span[1]')
len(km)

3120

In [147]:
Driver_KM=[]
for i in km:
    Driver_KM.append(i.text)

In [148]:
fuel=driver.find_elements_by_xpath('//div[@class="truncate dotlist"]/span[2]')
len(fuel)

3120

In [149]:
Fuel=[]
for i in fuel:
    Fuel.append(i.text)

In [150]:
trans=driver.find_elements_by_xpath('//div[@class="truncate dotlist"]/span[3]')
len(trans)

3120

In [151]:
Transmission=[]
for i in trans:
    Transmission.append(i.text)

In [153]:
price=driver.find_elements_by_xpath('//div[@class="gsc_col-xs-5 text-right price"]/span')
len(price)

3120

In [154]:
Price=[]
for i in price:
    Price.append(i.text)

In [155]:
len(brand_titles),len(Variant),len(Driver_KM),len(Fuel),len(Transmission),len(Price)

(3120, 3120, 3120, 3120, 3120, 3120)

In [156]:
Product1=pd.DataFrame()
Product1['brand_titles']= brand_titles
Product1['Variant']= Variant
Product1['Driver_KM']= Driver_KM
Product1['Fuel']= Fuel
Product1['Transmission']=Transmission
Product1['Location']="Mumbai"
Product1['Price']=Price
Product1

,brand_titles,Variant,Driver_KM,Fuel,Transmission,Location,Price
0,2020 Tata Altroz,XZ,"19,955 kms",Petrol,Manual,Mumbai,"7,49,000"
1,2012 Maruti Wagon R,VXI,"28,677 kms",Petrol,Manual,Mumbai,"2,65,000"
2,2015 Honda Mobilio,V i-VTEC,"58,284 kms",Petrol,Manual,Mumbai,"5,61,000"
3,2017 Maruti Baleno,1.2 CVT Delta,"54,037 kms",Petrol,Automatic,Mumbai,"6,55,000"
4,2014 Honda Amaze,S AT i-Vtech,"67,108 kms",Petrol,Automatic,Mumbai,"4,51,000"
...,...,...,...,...,...,...,...
3115,2017 Hyundai Creta,1.6 VTVT SX Plus Dual Tone,"34,265 kms",Petrol,Manual,Mumbai,"10,50,000"
3116,2009 Mercedes-Benz New C-Class,230 Avantgarde,"65,000 kms",Petrol,Automatic,Mumbai,"7,11,000"
3117,2018 Hyundai Verna,VTVT 1.6 AT SX Plus,"41,000 kms",Petrol,Automatic,Mumbai,"9,95,000"
3118,2015 Maruti Swift Dzire,LXI,"18,623 kms",Petrol,Manual,Mumbai,"5,25,000"
3119,2008 Maruti SX4,Zxi BSIII,"74,000 kms",Petrol,Manual,Mumbai,"1,69,000"

In [157]:
Product1.to_csv('Data_Used_Cars.csv',index = False)

In [165]:
driver.get("https://www.cardekho.com/used-cars+in+new-delhi")

In [173]:
titles_tags=driver.find_elements_by_xpath('//div[@class="gsc_col-xs-7  carsName"]/a')
len(titles_tags)

1900

In [174]:
brand_titles=[]
for i in titles_tags:
    brand_titles.append(i.text)

In [175]:
var=driver.find_elements_by_xpath('//div[@class="gsc_col-xs-7  carsName"]/div[1]')
len(var)

1900

In [176]:
Variant=[]
for i in var:
    Variant.append(i.text)

In [177]:
km=driver.find_elements_by_xpath('//div[@class="truncate dotlist"]/span[1]')
len(km)

1900

In [178]:
Driver_KM=[]
for i in km:
    Driver_KM.append(i.text)

In [179]:
fuel=driver.find_elements_by_xpath('//div[@class="truncate dotlist"]/span[2]')
len(fuel)

1900

In [180]:
Fuel=[]
for i in fuel:
    Fuel.append(i.text)

In [181]:
trans=driver.find_elements_by_xpath('//div[@class="truncate dotlist"]/span[3]')
len(trans)

1900

In [182]:
Transmission=[]
for i in trans:
    Transmission.append(i.text)

In [183]:
price=driver.find_elements_by_xpath('//div[@class="gsc_col-xs-5 text-right price"]/span')
len(price)

1900

In [184]:
Price=[]
for i in price:
    Price.append(i.text)

In [185]:
len(brand_titles),len(Variant),len(Driver_KM),len(Fuel),len(Transmission),len(Price)

(1900, 1900, 1900, 1900, 1900, 1900)

In [186]:
Product2=pd.DataFrame()
Product2['brand_titles']= brand_titles
Product2['Variant']= Variant
Product2['Driver_KM']= Driver_KM
Product2['Fuel']= Fuel
Product2['Transmission']=Transmission
Product2['Location']="New Delhi"
Product2['Price']=Price
Product2

,brand_titles,Variant,Driver_KM,Fuel,Transmission,Location,Price
0,2014 Honda Brio,S MT,"19,311 kms",Petrol,Manual,New Delhi,"3,42,000"
1,2013 Maruti Swift,LXI,"26,531 kms",Petrol,Manual,New Delhi,"2,84,000"
2,2018 Hyundai i20,1.2 Asta,"28,451 kms",Petrol,Manual,New Delhi,"6,57,000"
3,2014 Hyundai EON,Era Plus,"49,091 kms",Petrol,Manual,New Delhi,"2,36,000"
4,2021 Nissan Kicks,1.5 XV,"8,901 kms",Petrol,Manual,New Delhi,"10,22,000"
...,...,...,...,...,...,...,...
1895,2016 Maruti Vitara Brezza,ZDi Plus,"43,000 kms",Diesel,Manual,New Delhi,"7,00,000"
1896,2017 Maruti Swift Dzire,ZDI Plus,"41,000 kms",Diesel,Manual,New Delhi,"6,65,000"
1897,2010 Honda City,S,"1,06,000 kms",Petrol,Manual,New Delhi,"2,95,000"
1898,2013 Honda Amaze,S i-Vtech,"80,000 kms",Petrol,Manual,New Delhi,"3,75,000"
1899,2015 Honda Amaze,S i-Vtech,"77,133 kms",Petrol,Manual,New Delhi,"4,50,000"

In [187]:
Product2.to_csv('Data_Used_Cars1.csv',index = False)